﻿@model ToDoModels.ToDoList

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Description</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="blub" onclick="GetData()" value="@Model.Description">Blub2</button>


    <div id="con"></div>
</div>
